.single-cookie {
  display: flex;
  justify-content: space-between;
  align-content: center;
  input {
    text-align: center;
  }
  input[type="number"] {
    width: 25%;
  }
  .single-cookie-form {
    text-align: center;
  }
  margin-top: 5rem;
  .single-cookie-name {
    font-size: 3rem;
  }
  .edit-cookie-button {
    margin-top: 2rem;
    background-color: #52154E;
  }
}

.cookie-not-found {
  text-align: center;
  margin-top: 5rem;
}
